@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body
{
    font-size: 18px;
    font-weight: 400;
    background-color: var(--Very-Dark-Blue);
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

.main 
{
    background-color: var(--Very-Dark-Blue);
    height: 100vh;
    --Bright-Blue: hsl(220, 98%, 61%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
    --Circle-color: rgb(255, 255, 255);
    --Tasks-color: rgb(255, 255, 255);
    transition: all .3s ease;
}

.main-light
{
    background-color: var(--Dark-Grayish-Blue);
    --Very-Dark-Desaturated-Blue: white;
    --Circle-color: rgb(0, 0, 0);
    --Tasks-color: rgb(0, 0, 0);
    --Light-Grayish-Blue: hsl(0, 2%, 9%);
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button
{
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

header
{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.todo-header 
{
    color: var(--Very-Light-Gray);
    letter-spacing: 1rem;
    font-size: 30px;
}

.switch-button
{
    background: none;
    border: none;
    outline: none;
}

.todoform
{
    width: 100%;
    height: 50px;
    background-color: var(--Very-Dark-Desaturated-Blue);
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 0rem 2rem 2rem 2rem;
}

.circleform
{
    height: 20px;
    width: 20px;
    border: 2px solid var(--Circle-color);
    opacity: .2;
    border-radius: 50%;
    margin-left: 1rem;
    transition: all .2s ease;
    background: none;
}

.circle
{
    height: 24px;
    width: 24px;
    border: 2px solid var(--Circle-color);
    opacity: .2;
    border-radius: 50%;
    margin-left: 1rem;
    transition: all .2s ease;
    background: none;
}

.activeCircle
{
    position: relative;
    opacity: 1;
    border: none;
    background-color: var(--Bright-Blue);
    background-image: url(images/icon-check.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.todoform-input
{
    background: none;
    outline: none;
    border: none;
    color: var(--Dark-Grayish-Blue);
    margin-left: .5rem;
    font-size: 12px;
}

.todo
{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: var(--Very-Dark-Desaturated-Blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 2rem;
}

.todo:not(:first-child)::after
{
    content: '';
    position: absolute;
    background-color: var(--Dark-Grayish-Blue);
    height: 1.5px;
    width: 100%;
    top: 0;
    opacity: .3;
}

.todo-left
{
    display: flex;
    align-items: center;
    height: 100%;
}

.task
{
    margin-left: .75rem;
    color: var(--Light-Grayish-Blue);
    font-size: 13px;
    transition: all .2s ease;
}

.taskActive 
{
    position: relative;
    opacity: .3;
}

.taskActive::after
{
    position: absolute;
    content: '';
    background-color: var(--Tasks-color);
    height: 1.5px;
    width: 100%;
    top: 50%;
    left: 0;
    opacity: 1;
}

.cross
{
    height: 100%;
    width: 50px;
    margin-right: .2rem;
    background-image: url(images/icon-cross.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
}

.tasks
{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: var(--Very-Dark-Desaturated-Blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin: 1rem 2rem 2rem 2rem;
}

.tasks-left
{
    margin-left: 1rem;
    font-size: 13px;
    opacity: .3;
    color: var(--Tasks-color);
}

.tasks-clear
{
    margin-right: 1rem;
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;    
    opacity: .3;
    color: var(--Tasks-color);
}

@media screen and (min-width: 768px) {
    .todoform
    {
        width: 700px;
        height: 50px;
        background-color: var(--Very-Dark-Desaturated-Blue);
        display: flex;
        align-items: center;
        border-radius: 5px;
        margin-bottom: 2rem;
    }

    .todo
    {
        position: relative;
        width: 700px;
        height: 50px;
        background-color: var(--Very-Dark-Desaturated-Blue);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .tasks
    {
        position: relative;
        width: 700px;
        height: 50px;
        background-color: var(--Very-Dark-Desaturated-Blue);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        border-radius: 5px;
    }

    main
    {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
    }
    header 
    {
        width: 700px;
    }

    .switch-button img
    {
        transition: all .3s ease-in-out;
    }
    .switch-button:hover img
    {
        cursor: pointer;
        transform: translateX(-5px);
    }
    .switch-button:target
    {
        background-color: red;
    }
}